<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	
	<context:component-scan base-package="com.iotek"></context:component-scan>
	
    <mvc:annotation-driven>
    	<!-- 处理请求返回json字符串的中文乱码问题 -->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                    	<!-- ajax - dataType:json -->
                        <value>application/json;charset=UTF-8</value>
                        <!-- ajax - dataType:text -->
                        <value>text/plain;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/*.action"/>
			<!-- <mvc:exclude-mapping path=""/> -->
			<bean class="com.iotek.web.LoginInterceptor">
				<property name="excludeUrls">
					<list>
						<value>index.action</value>
						<value>loginServlet.action</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- DispatcherServlet放行静态资源（jpg,js,css...） -->
	<mvc:default-servlet-handler/>
	
	<!-- db dataSource -->
<!-- 	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/shopping"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean> -->
	
	<!-- c3p0 pool -->
 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	  	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/shopping"></property>
	  	<property name="user" value="root"></property>
	  	<property name="password" value="123456"></property>
	    <property name="acquireIncrement" value="5"></property>
	    <property name="initialPoolSize" value="10"></property>
	    <property name="minPoolSize" value="5"></property>
	    <property name="maxPoolSize" value="100"></property>
	    <property name="maxStatements" value="10"></property> 
	    <property name="maxStatementsPerConnection" value="15"></property>
	</bean>
	
	<!-- 整合Hibernate4 一定要另外配置事务 -->
	<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
			</props>
		</property>
		自动扫描hbm配置文件
		<property name="mappingDirectoryLocations">
			<list>
				<value>com/iotek/bean/*.hbm.xml</value>
			</list>
		</property>
		
		<property name="mappingResources">
			<list>
				<value>com/iotek/bean/User.hbm.xml</value>
				<value>com/iotek/bean/Dept.hbm.xml</value>
				<value>com/iotek/bean/xxx.hbm.xml</value>
			</list>
		</property>
	</bean> -->
	
	<!-- 整合MyBatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- DB -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 对实体类起一个别名 -->
		<property name="typeAliasesPackage" value="com.iotek.bean"></property>
		<!-- 加载dao对应的mapper配置文件 -->
		<property name="mapperLocations" value="classpath*:com/iotek/dao/mapper/*.xml"></property>
		<!-- 开启驼峰命名转换 -->
		<property name="configuration">
			<bean class="org.apache.ibatis.session.Configuration">
				<property name="mapUnderscoreToCamelCase" value="true"></property>
			</bean>
		</property>
	</bean>
	
	<!-- scan dao interface -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.iotek.dao"></property>
	</bean>
	
	<!-- transaction 
		throw exception,  false
	-->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- <tx:annotation-driven transaction-manager="txManager"/> -->
	<tx:advice id="txdvice" transaction-manager="txManager">
		<tx:attributes>
			<!-- <tx:method name="add*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/> -->
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- proxy-target-class： false，默认，基于JDK动态代理ue， cglib
			 -->
	<aop:config proxy-target-class="false">
		<aop:advisor advice-ref="txdvice" pointcut="execution(* com.iotek.service.impl.*.*(..))"/>
	</aop:config>
	
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	   <!-- 针对返回的jsp文件，自动添加前缀和后缀 -->
		<property name="prefix">
			<value>/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
</beans>
